
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    color: white
}

.nav-items {
    list-style: none;
    display: flex;
    
}

.nav-items > li {
    padding: 10px;
}

.nav > img {
    width: 50px;
    padding: 10px;
}