body {
    background-image: url("react-background.jpeg");
    color: white;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-size: 100rem;
    
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    color: white;
}

.nav-items {
    list-style: none;
    display: flex;

}

.nav-items > li {
    padding: 10px;

}

.nav > img {
    width: 50px;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

.main-content {
    margin: 40px;

}

 